.main-layout{
    height: 100vh;
    width: 1440px;
    color: #7E7D88!important;
    border-radius: 8px;
}

.main-layout-wrapper{
    display: flex;
    flex-direction: row;
    height: 100%;
}
 
.main-layout-navbar{
    width: 200px;
    height: 100%;
}

.main-layout-main-content{
    width: 1240px;
    height: 100vh;
    position: relative;
    background-color: #f7f7f7;
}
